ul {
  list-style-type: none;
  top: -12px;
  left: -20px;
  display: flex;
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  box-shadow: 2px 2px black;
}

li{
  text-align: center;
  height: 35px;
  padding: 13px 30px 0;
  background: white;
  border-left: 1px solid black;

}

a{
  color: black;
  font-size: 15px;
}

li.logo{
  margin: 0;
  border-style: none;
  padding: 0 50px 0 20px;
}
img.logo{
  height: 115%;
}


